body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons, .admin-options {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

button, .admin-login, .button {
  background-color: white;
  color: #007bff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.inline-form {
  display: inline;
}

main {
  padding: 20px;
}

.qa-item {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.container {
  margin-top: 100px;
}

h2 {
  margin-bottom: 30px;
}
.admin-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.admin-option {
  text-align: center;
  margin: 20px;
  max-width: 250px;
}

.admin-option img {
  display: block;
  margin: 0 auto;
  max-width: 100%; 
  height: auto;
}

.admin-option .button {
  display: inline-block;
  text-decoration: none;
  color: #007bff;
  background-color: white;
  border: 1px solid #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.admin-option .button:hover {
  background-color: #007bff;
  color: white;
}