<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Questions Panel</h1>
            <div class="buttons">
                <div class="float-left">
                    <form action="{{ url_for('honor_board') }}" method="get" class="inline-form">
                        <button type="submit" class="honor-board btn btn-light">Honor Board</button>
                    </form>
                </div>
                <div class="float-left ml-2">
                    <form action="{{ url_for('about_page') }}" method="get" class="inline-form">
                        <button type="submit" class="about-page btn btn-light">About</button>
                    </form>
                </div>
                <div class="float-right">
                    <form action="{{ url_for('admin_login_page') }}" method="get" class="inline-form">
                        <button type="submit" class="admin-login btn btn-light">Admin Login</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container mt-4">
            <h2 class="text-center mb-4">Questions</h2>
            <ol class="list-group">
                {% for question in questions if question.is_active %}
                <li class="list-group-item">{{ loop.index }}. {{ question.question|safe }}</li>
                {% endfor %}
            </ol>
            <div class="discussion-info text-center mt-4">
                <p>If you have solved a question, please share your solution at <a href="mailto:rise.research.labs@gmail.com" class="text-primary">rise.research.labs@gmail.com</a>.</p>
            </div>
        </div>
    </main>
</body>
</html>
